.camera-button {
  position: fixed;
  bottom: 50px;
  left: 45%;
}

.gallery-button {
  position: fixed;
  bottom: 50px;
  left: 15%;
  transform: translateX(-50%);
}

.gallery-button ion-button {
  background-color: transparent;
}

.gallery-button ion-button ion-icon {
  font-size: 24px;
}

.gallery-button ion-button[disabled] {
  background-color: white;
  color: red;
}

ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-img {
  position: fixed;
  top: 50px;
  left: 5%;
  max-width: 90%;
  max-height: 100%;
}
